{% extends 'base.html.twig' %}

{% block body %}

<section class="prefecture">

    <p>Nom : {{ prefectures.nomPrefecture }}</p>
    <p>Adresse : {{ prefectures.numeroAdressePrefecture }} {{ prefectures.adressePrefecture }}</p>
    <p>Code postal : {{ prefectures.cpPrefecture }}</p>
    <p>Commune : {{ prefectures.communePrefecture }}</p>
    <p>Préfecture service : {{ prefectures.prefectureService }}</p>

</section>
   <a href="{{ path('prefecture_index') }}">Retour</a>

{% endblock %}