{% extends 'base.html.twig' %}

{% block body %}

<section class="prefecture affichagetbl container mt-5">
    <container class="affichage inline-block center">
    <h2 class"mt-4 pb-5 text-center"=>Détails de la préfecture</h2>
     <table class="table table-striped mb-4">
        <thead>
            <tr class="background_tbl ">
                <th scope="col" class="text-left pl-5"></th>
                <th scope="col" class="text-left"></th>
  </tr>
  </thead>

        <tbody>
        <tr>
    <td>Nom : </td>
    <td>{{ prefectures.nomPrefecture }}</td>
     </tr>
    <tr>
    <td>Adresse : </td>
    <td>{{ prefectures.numeroAdressePrefecture }} {{ prefectures.adressePrefecture }}</td>
     </tr>
    <tr>
    <td>Code postal : </td>
    <td>{{ prefectures.cpPrefecture }}</td>
     </tr>
    <tr>
    <td>Commune : </td>
    <td>{{ prefectures.communePrefecture }}</td>
     </tr>
    <tr>
    <td>Autorité : </td>
    <td>{{ prefectures.prefectureAutorite }}</td>
     </tr>
    <tr>
    <td>Service : </td>
    <td>{{ prefectures.prefectureService }}</th>
</tr>
  </tbody>
    </table>
   <a href="{{ path('prefecture_index') }}"><i class="ml-3 fas fa-arrow-left back-color"></i></a>
   </container>
</section>
{% endblock %}