{% extends 'base.html.twig' %}

{% block title %}Préfecture{% endblock %}

{% block body %}

    {% for prefecture in prefectures %}

        <p>Nom : {{ prefecture.nomPrefecture}}</p>
        <p>Adresse : {{ prefecture.adressePrefecture}}</p>
        <p>Code postal : {{ prefecture.cp}}</p>
        <p>Commune : {{ prefecture.commune}}</p>

        <div>
            <a href="{{ path('prefecture_modifier', {'id': prefecture.id}) }}">Modifier</a>
            <a href="{{ path('prefecture_supprimer', {'id': prefecture.id}) }}">Supprimer</a>
        </div>

    {% endfor %}

{% endblock %}
