{% extends 'base.html.twig' %}

{% block title %}Préfecture{% endblock %}

{% block body %}

    {% for prefecture in prefectures %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Adresse</th>
                <th scope="col">Code Postal</th>
                <th scope="col">Commune</th>
                <th scope="col">Réglages</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ prefecture.nomPrefecture}}</td>
                <td>{{ prefecture.adressePrefecture}}</td>
                <td>{{ prefecture.cp}}</td>
                <td>{{ prefecture.commune}}</td>
                <td>
                    <a href="{{ path('prefecture_modifier', {'id': prefecture.id}) }}">Modifier</a>
                    <a href="{{ path('prefecture_supprimer', {'id': prefecture.id}) }}">Supprimer</a>
                </td>
            </tr>
        </tbody>
    </table>

    {% endfor %}

{% endblock %}
