{% extends 'base.html.twig' %}

{% block body %}

<div class="mt-5 container-fluid">
    <div class=" w-100 stagiaire_border">
        <h2 class="text-center background_stagiaire pt-2 pb-2 lieustage_margin">Stagiaire
            {{ stagiaire.prenomStagiaire }} {{stagiaire.nomStagiaire}}</h2>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td class="font-weight-bold">Civilité :</td>
                    <td class="text-left">{{ stagiaire.civilite.nomCivilite }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>

                </tr>
                <tr>
                    <td class="font-weight-bold">Nom :</td>
                    <td class="text-left">{{ stagiaire.nomStagiaire }}</td>
                    <td class="font-weight-bold">Prénom :</td>
                    <td class="text-left">{{ stagiaire.prenomStagiaire }}</td>
                    <td class="font-weight-bold">Nom de naissance :</td>
                    <td class="text-left">{{ stagiaire.nomNaissanceStagiaire }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Date de naissance :</td>
                    <td class="text-left">{{ stagiaire.dateNaissanceStagiaire|localizeddate('long', 'none', 'fr')}}</td>
                    <td class="font-weight-bold">Lieu de naissance :</td>
                    <td class="text-left">{{ stagiaire.lieuNaissanceStagiaire }}</td>
                    <td class="font-weight-bold">Nationalité :</td>
                    <td class="text-left">{{ stagiaire.nationaliteStagiaire }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">N° de fixe :</td>
                    <td class="text-left">{{ stagiaire.numeroFixeStagiaire }}</td>
                    <td class="font-weight-bold">N° de portable :</td>
                    <td class="text-left">{{ stagiaire.numeroPortableStagiaire }}</td>
                    <td class="font-weight-bold">Email :</td>
                    <td class="text-left">{{ stagiaire.emailStagiaire }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Adresse :</td>
                    <td class="text-left">{{ stagiaire.numeroAdresseStagiaire }}, {{ stagiaire.adresseStagiaire }}</td>
                    <td class="font-weight-bold">Commune :</td>
                    <td class="text-left">{{stagiaire.communeStagiaire }}</td>
                    

                    
                </tr>
                <td class="font-weight-bold">Permis :</td>
                 <td class="text-left">numéro {{ stagiaire.licence.licenceNumber }}  </td>
                <td class="font-weight-bold">attribué : </td>
                 <td class="text-left">le {{ stagiaire.licence.licenceDate|localizeddate('long', 'none', 'fr')}} par la {{ stagiaire.licence.prefecture }}</td>
                <tr>
                    <td class="font-weight-bold">Numéro(s) de stage : </td>
                    {% for stage in stagiaire.stages %}
                    <td>{{ stage.numeroStage }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>

        
    </div>
    <a href="{{ path('stagiaire_index') }}" class="btn retour lieustage_button mt-3">Retour</a>
</div>
 <div>
    <a href="{{ path('stagiaire_facture', {'id': stagiaire.id}) }}" class="btn retour lieustage_button mt-3">facture</a>
</div>
{% endblock %}