{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}

<section class="stagiaire">
    <p>ID : {{ stagiaire.id }}</p>
    <p>Civilité :{{ stagiaire.civilite.nomCivilite }}</p> 
    <p>Nom : {{ stagiaire.nomStagiaire }}</p>
    <p>Prénom : {{ stagiaire.prenomStagiaire }}</p>
    <p>N° adresse : {{ stagiaire.numeroAdresseStagiaire  }}</p>
    <p>Code postal : {{ stagiaire.cp }}</p>
    <p>Commune : {{ stagiaire.commune }}</p>
    <p>Nom de naissance : {{ stagiaire.nomNaissanceStagiaire }}</p>
    <p>Date de naissance_stagiaire : {{ stagiaire.dateNaissanceStagiaire ? stagiaire.dateNaissanceStagiaire|date('Y-m-d') : ''  }}</p>
    <p>Lieu_naissance_stagiaire : {{ stagiaire.lieuNaissanceStagiaire }}</p>
    <p>Adresse : {{ stagiaire.numeroAdresseStagiaire }}</p>
    <p>N° Fixe : {{ stagiaire.numeroFixeStagiaire }}</p>
    <p>N° Portable : {{ stagiaire.numeroPortableStagiaire }}</p>
    <p>Email : {{ stagiaire.emailStagiaire }}</p>
    <p>Nationalité : {{ stagiaire.nationaliteStagiaire }}</p>
    <p>Carte jeune : {{ stagiairecarteJeuneStagiaire ? 'Yes' : 'No' }}</p>
     <p>Partenaire : {{ stagiaire.partenaireStagiaire ? 'Yes' : 'No' }}</p>
    <p>Adhérent : {{ stagiaire.adherentStagiaire ? 'Yes' : 'No'  }}</p>
</section>

             
           
          

    <a href="{{ path('stagiaire_index') }}">Retour</a>

    
