{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

    {{ form_start(formStagiaire) }}

    <div>
        {% if editMode %}
           <h2 class="mt-5 mb-5 h2_stagiaire">Modifier un stagiaire</h2>
        {% else %}
           <h2 class="mt-5 mb-5 h2_stagiaire">Ajouter un stagiaire</h2>
        {% endif %}
    </div>
    <div class="text-center mb-2">
            {% if error is defined %}
                <h4 class="text-danger">Le stagiaire existe déjà</h4>
            {% endif %}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(formStagiaire.civilite, {'label': "Civilité :", 'attr': {'placeholder':
            "Civilité"}}) }}
        </div>
            <div class="col">
            {{ form_row(formStagiaire.nationaliteStagiaire, {'label': "Nationalité :", 'attr': {'placeholder': "Nationalité"}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(formStagiaire.nomStagiaire, {'label': "Nom :", 'attr': {'placeholder':
            "Nom"}}) }}
        </div>
        <div class="col">
            {{ form_row(formStagiaire.prenomStagiaire, {'label': "Prénom :", 'attr': {'placeholder': "Prénom"}})}}
        </div>
        <div class="col">
            {{ form_row(formStagiaire.nomNaissanceStagiaire, {'label': "Nom de naissance :", 'attr': {'placeholder': "Nom de naissance"}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(formStagiaire.dateNaissanceStagiaire, {'label': "Date de naissance :", 'attr': {'placeholder': "Date de naissance"}}) }}
        </div>
        <div class="col">
            {{ form_row(formStagiaire.lieuNaissanceStagiaire, {'label': "Lieu de naissance :", 'attr': {'placeholder': "Lieu de naissance"}}) }}
        </div>
        
    </div>

    <div class="row">
    <div class="col">
            {{ form_row(formStagiaire.numeroAdresseStagiaire, {'label': "N° de rue :", 'attr': {'placeholder': "N° de rue"}}) }}
        </div>
        <div class="col">
            {{ form_row(formStagiaire.adresseStagiaire, {'label': "Adresse :", 'attr': {'placeholder': "Adresse"}}) }}
        </div>
        </div>
          <div class="row">
        {# <div class="col">
            {{ form_row(formStagiaire.cpStagiaire, {'label': "Code postal :", 'attr': {'placeholder': "Code postal"}}) }}
        </div> #}
        <div class="col">
            {{ form_row(formStagiaire.communeStagiaire, {'label': "Commune :", 'attr': {'placeholder': "Commune"}}) }}
            <div id="selectStagiaire" class="listeHidden"></div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(formStagiaire.numeroPortableStagiaire, {'label': "N° de portable :", 'attr': {'placeholder': "ex.: 9999999999"}}) }}
        </div>
        <div class="col">
            {{ form_row(formStagiaire.numeroFixeStagiaire, {'label': "N° de fixe :", 'attr': {'placeholder': "ex.: 9999999999"}}) }}
        </div>
        <div class="col">
            {{ form_row(formStagiaire.emailStagiaire, {'label': "Email :", 'attr': {'placeholder': "Ex.: jean.dupont@afer.fr"}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(formStagiaire.carteJeuneStagiaire, {'label': "Carte jeune stagiaire :", 'attr': {'placeholder': "Carte jeune stagiaire"}}) }}
        </div>
        <div class="col">
            {{ form_row(formStagiaire.partenaireStagiaire, {'label': "Stagiaire partenaire :", 'attr': {'placeholder': "Stagiaire partenaire"}}) }}
        </div>
        <div class="col">
            {{ form_row(formStagiaire.adherentStagiaire, {'label': "Stagiaire adhérent :", 'attr': {'placeholder': "Stagiaire adhérent"}}) }}
        </div>
    </div>

    {% if editMode %}
    <button type="submit" class="btn btn-warning btn-link text-black mb-5 mt-3">
        Modifier
    </button>
    {% else %}
       <button type="submit" class="btn btn-success btn-link text-white mb-5 mt-3">
          Enregistrer
       </button>
    {% endif %}


    {{ form_end(formStagiaire) }}


</div>

{% endblock %}

 {% block javascripts %}
<script>
 $().ready(function () {
    $('select.chzn-select').chosen();
 });
    </script>
{% endblock %}
{% block selectjs %}
    <script src="{{ asset('build/select.js') }}"></script>
 {% endblock %}