{% extends 'base.html.twig' %}
{% block body %}

<section class="stagiaire">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="ml-5 h2_stagiaire">Liste des stagiaires</h2>
        <a href="{{ path('stagiaire_ajouter')}}" class="btn mt-5 mb-5 mr-5 add_icon d-flex align-items-center">Ajouter</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr class="background_stagiaire">
                <th scope="col" class="text-center">Nom</th>
                <th scope="col" class="text-center">Prénom</th>
                <th scope="col" class="text-center">Email</th>
                <th scope="col" class="text-center">N° de portable</th>
                <th scope="col" class="text-center">N° fixe</th>
                <th scope="col" class="text-center"><i class="fas fa-cogs"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for stagiaire in stagiaires %}
            <tr>
                <td class="text-center">{{ stagiaire.nomStagiaire }}</td>
                <td class="text-center">{{ stagiaire.prenomStagiaire }}</td>
                <td class="text-center">{{ stagiaire.emailStagiaire }}</td>
                <td class="text-center">{{ stagiaire.numeroPortableStagiaire }}</p>
                <td class="text-center">{{ stagiaire.numeroFixeStagiaire}}</p>
                </td>
                <td class="text-center">
                    <a href="{{  path('stagiaire_afficher', {'id': stagiaire.id}) }}"><i class="far fa-eye eye_color"></i></a>
                    <a href="{{  path('stagiaire_modifier', {'id': stagiaire.id}) }}"><i class="fas fa-pen pen_color"></i></a>
                    <a href="{{  path('stagiaire_supprimer', {'id': stagiaire.id}) }}"><i class="far fa-trash-alt trash_color"></i></a>
                </td>
            </tr>
             {% else %}
           
                <td colspan="18">Il n'y a aucun stagiaire</td>
        
            {% endfor %}
        </tbody>
    </table>

</section>
{% endblock %}