{% extends 'base.html.twig' %}

{% block body %}

<section class="animateur">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="ml-5 h2_animateur mt-5 mb-5">Liste des animateurs</h2>
        <a href="{{ path('animateur_ajouter')}}" class="btn mr-5 add_icon d-flex align-items-center">Ajouter</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr class="background_animateur">
                <th scope="col" class="pl-5 text-left">Nom</th>
                <th scope="col" class="text-left">Prénom</th>
                <th scope="col" class="text-left">Email</th>
                <th scope="col" class="text-left">N° de portable</th>
                <th scope="col" class="text-left">N° fixe</th>
                <th scope="col" class="text-center"><i class="fas fa-cogs"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for animateur in animateurs %}
            <tr>
                <td class="pl-5 text-left">{{ animateur.nomAnimateur }}</td>
                <td class="text-left">{{ animateur.prenomAnimateur }}</td>
                <td class="text-left">{{ animateur.emailAnimateur }}</td>
                <td class="text-left">{{ animateur.numeroPortableAnimateur }}</td>
                <td class="text-left">{{ animateur.numeroFixeAnimateur }}</td>
                <td class="text-center">
                    <a href="{{  path('animateur_afficher', {'id': animateur.id}) }}"><i class="far fa-eye eye_color"></i></a>
                    <a href="{{  path('animateur_modifier', {'id': animateur.id}) }}"><i class="fas fa-pen pen_color pl-2 pr-2"></i></a>
                    <a href="{{  path('animateur_supprimer', {'id': animateur.id}) }}"><i class="trash_color far fa-trash-alt"></i></a>
                </td>
            </tr>
            {% else %}
                <td class="text-center">Il n'y a aucun animateur</td>
                <td class="text-center">...</td>
                <td class="text-center">...</td>
                <td class="text-center">...</td>
                <td class="text-center">...</td>
            {% endfor %}
        </tbody>
    </table>

</section>
{% endblock %}