{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
   <div class="container w-50 lieustage_border">
      <h2 class="text-center background_stage pt-2 pb-2 lieustage_margin">Lieu de stage - {{ lieuStage.commune }}</h2>
      <table class="table table-striped">
         <tbody>
            <tr>
               <td class="font-weight-bold">Nom de l'établissement :</td>
               <td class="text-left">{{ lieuStage.nomEtablissement }}</td>
            </tr>
            <tr>
               <td class="font-weight-bold">N° d'agrément :</td>
               <td class="text-left">{{ lieuStage.agrement }}</td>
            </tr>
            <tr>
               <td class="font-weight-bold">N° de téléphone :</td>
               <td class="text-left">{{ lieuStage.telephoneStage }}</td>
            </tr>
            <tr>
               <td class="font-weight-bold">Adresse :</td>
               <td class="text-left">{{ lieuStage.numeroAdresseStage }}, {{ lieuStage.adresseStage }}</td>
            </tr>
            <tr>
               <td class="font-weight-bold">Commune :</td>
               <td class="text-left">{{ lieuStage.nomCommune }}</td>
            </tr>
            <tr>
               <td class="font-weight-bold">Latitude :</td>
               <td class="text-left">{{ lieuStage.latitude }}</td>
            </tr>
            <tr>
               <td class="font-weight-bold">Longitude :</td>
               <td class="text-left">{{ lieuStage.longitude }}</td>
            </tr>
             <tr>
               <td class="font-weight-bold">Notes :</td>
               <td class="text-left">{{ lieuStage.divers }}</td>
            </tr>
         </tbody>
      </table>
   </div>
   <a href="{{ path('lieuStage_index') }}" class="btn retour lieustage_button mt-3">Retour</a>
</div>

{% endblock %}
