{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="container w-50 tribunal_border mt-2">
        <h2 class="text-center background_tribunal pt-2 pb-2 lieustage_margin">Tribunal n°{{tribunal.id}}</h2>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td class="font-weight-bold">Nom du tribunal :</td>
                    <td class="text-left">{{ tribunal.nomtribunal }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Autorité :</td>
                    <td class="text-left">{{ tribunal.tribunalAutorite }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Service :</td>
                    <td class="text-left">{{ tribunal.tribunalService }}</td>
                </tr>
    
                <tr>
                    <td class="font-weight-bold">Adresse :</td>
                    <td class="text-left">{{ tribunal.numeroAdressetribunal }} {{ tribunal.adressetribunal }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Commune :</td>
                    <td class="text-left">{{ tribunal.communetribunal }}, {{ tribunal.cptribunal}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="{{ path('tribunal_index') }}" class="btn retour lieustage_button mt-3">Retour</a>
</div>

{% endblock %}