{% extends 'base.html.twig' %}

{% block body %}

<section class="tribunal">
<div class="d-flex justify-content-between align-items-center">
    <h2 class="ml-5 h2_tribunal mt-5 mb-5">Liste des autorités pour les tribunaux</h2>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('tribunalAutorite_ajouter')}}" class="btn mr-5 add_icon d-flex align-items-center">Ajouter</a>
    {% endif %}
</div>
     <table class="table table-striped">
        <thead>
            <tr class="background_tribunal">
                <th scope="col" class="pl-5 text-left">Nom de l'autorité</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th scope="col" class="text-center"><i class="fas fa-cogs"></i></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for autorite in autorites %}
            <tr>
                <td class="pl-5 text-left">{{ autorite.nom }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td class="text-center">
                        {# <a href="{{  path('tribunal_afficher', {'id': tribunal.id}) }}"><i class="far fa-eye"></i></a> #}
                        <a href="{{  path('tribunalAutorite_modifier', {'id': autorite.id}) }}"><i class="fas fa-pen pen_color"></i></a>
                        <a href="{{  path('tribunalAutorite_supprimer', {'id': autorite.id}) }}" ><i class="far fa-trash-alt trash_color pl-2"></i></a>
                    </td>
                {% endif %}
            </tr>
            {% else %}
                <td class="pl-5 text-center">Il n'y a aucune autorité</td>
                <td class="text-center">...</td>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}