<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="#">
    <title>{% block title %}AFER{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="icon" href="{{ asset('build/static/favicon.ico') }}">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Caveat|Signika|Viga" rel="stylesheet">
</head>

<body>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 d-flex left_branding align-items-center justify-content-center position-fixed">
                    <h1>AFER</h1>
                </div>
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 top_logout position-fixed d-flex align-items-center justify-content-end">
                    <i class="fas fa-user-tie mr-2"></i>
                    <p class="logout">Bonjour {{ app.user }}</p>
                    <a href="{{ path('logout') }}"><i class="fas fa-sign-out-alt ml-2"></i></a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 left_nav position-fixed">
                    <ul>
                        <li class="mt-5 mb-5">
                            <a href=""><i class="fab fa-microsoft"></i>À la une</a>
                        </li>
                        <li class="mb-5 onclick_stage">
                            <a><i class="far fa-calendar-alt"></i>Stages</a>
                            <i class="fas fa-angle-right ml-4 angle_red"></i>
                            <ul class="ul_without_padding list_stages">
                                <li class="background_stage pt-2 pb-2">
                                    <a href="{{ path('stage_index') }}" class="stage_hover">Liste des stages</a>
                                </li>
                                <li><hr class="color_red"></li>
                                <li class="background_stage pt-2 pb-2">
                                    <a href="{{ path('lieuStage_index') }}" class="stage_hover">Lieu de stage</a>
                                </li>
                            </ul>
                        </li>
                        <li class="mb-5">
                            <a href=""><i class="fas fa-users"></i>Stagiaires</a>
                        </li>
                        <li class="mb-5 onclick_tribunaux">
                            <a class="turn_arrow_blue"><i class="fas fa-balance-scale"></i>Tribunaux</a>
                            <i class="fas fa-angle-right ml-4 angle_blue"></i>
                            <ul class="ul_without_padding list_tribunaux">
                                <li class="background_tribunaux pb-2 pt-2">
                                    <a href="{{ path('tribunal_index') }}" class="tribunaux_hover">Liste des tribunaux</a>
                                </li>
                                <li><hr class="color_blue"></li>
                                <li class="background_tribunaux pb-2 pt-2">
                                    <a href="{{ path('autorite_index') }}" class="tribunaux_hover">Autorité</a>
                                </li>
                                <li><hr class="color_blue"></li>
                                <li class="background_tribunaux pb-2 pt-2">
                                    <a href="{{ path('service_index') }}" class="tribunaux_hover">Service</a>
                                </li>
                            </ul>
                        </li>
                        <li class="mb-5 onclick_animateur">
                            <a class="turn_arrow_orange"><i class="fas fa-graduation-cap"></i>Animateurs</a>
                            <i class="fas fa-angle-right ml-4 angle_orange"></i>
                            <ul class="ul_without_padding list_animateurs">
                                <li class="background_animateur pb-2 pt-2">
                                    <a href="{{ path('animateur_index') }}" class="animateur_hover">Liste des animateurs</a>
                                </li>
                                <li><hr class="color_orange"></li>
                                <li class="background_animateur pb-2 pt-2">
                                    <a href="{{ path('animateurFonction_index') }}" class="animateur_hover">Fonction</a>
                                </li>
                                <li><hr class="color_orange"></li>
                                <li class="background_animateur pb-2 pt-2">
                                    <a href="{{ path('animateurStatut_index') }}" class="animateur_hover">Statut</a>
                                </li>
                            </ul>
                        </li>
                        <li class="mb-5 onclick_prefecture">
                            <a class="turn_arrow_purple"><i class="fas fa-address-card"></i>Préfectures</a>
                            <i class="fas fa-angle-right ml-4 angle_purple"></i>
                            <ul class="ul_without_padding list_prefectures">
                                <li class="background_prefecture pb-2 pt-2">
                                    <a href="{{ path('prefecture_index') }}" class="prefecture_hover">Liste des préfectures</a>
                                </li>
                                <li><hr class="color_purple"></li>
                                <li class="background_prefecture pb-2 pt-2">
                                    <a href="{{ path('prefectureAutorite_index') }}" class="prefecture_hover">Autorité</a>
                                </li>
                                <li><hr class="color_purple"></li>
                                <li class="background_prefecture pb-2 pt-2">
                                    <a href="{{ path('prefectureService_index') }}" class="prefecture_hover">Service</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ path('utilisateur_index') }}"><i class="fas fa-key"></i>Utilisateurs</a>
                        </li>
                    </ul>
                </div>
                <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 main_content position-absolute">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </main>
    <script src="{{ asset('build/app.js') }}"></script>
</body>

</html>