{% extends 'base.html.twig' %}

{% block title %}Stages{% endblock %}

{% block body %}

<section class="info_animateur">
<h2>Stage</h2>
<div =class="d-flex justify-content-center">
                <p>Numéro de stage :{{ stage.numeroStage }}</p>
                <p> Date de début :{{ stage.dated|date('d-m-y') }}</p>
                <p> Date de fin :{{ stage.datef|date('d-m-y') }}</p>
                <p> Stage hors programme officiel :{{ stage.stageProgrammeOfficiel }}</p>

                 <td class="text-center">
                 {% for animateur in stage.animateurs %}
                <p>{{ animateur.nomAnimateur }}</p> 
                 
                 {% endfor %}
                </td> 
                 <td class="text-center">
                 {% for stagiaire in stage.stagiaires %}
                <p>{{ stagiaire.nomStagiaire }}</p> 
                 {% endfor %}
                </td> 
  </section>

   <a href="{{ path('stage_index') }}">Retour</a>
  

{% endblock %}
