{% extends 'base.html.twig' %}

{% block title %}Stages{% endblock %}

{% block body %}

<section class="info_stage">
<h2 class="mt-5 mb-5 h2_stage">Stage</h2>
<div =class="d-flex justify-content-center">
                <p>Numéro de stage : {{ stage.numeroStage }}</p>
                <p> Date de début : {{ stage.dated|localizeddate('long', 'none', 'fr') }}</p>
                <p> Date de fin : {{ stage.datef|localizeddate('long', 'none', 'fr') }}</p>
                <p> Stage hors programme officiel : {{ stage.stageProgrammeOfficiel ?'Oui' : 'Non'}}</p>

                 <td class="text-center">
                 {% for animateur in stage.animateurs %}
                <p>{{ animateur.nomAnimateur }}</p> 
                 
                 {% endfor %}
                </td> 
                 <td class="text-center">
                 {% for stagiaire in stage.stagiaires %}
                <p>{{ stagiaire.nomStagiaire }}</p> 
                 {% endfor %}
                </td> 
  </section>

   <a href="{{ path('stage_index') }}" class="btn retour">Retour</a>
  

{% endblock %}
