{% extends 'base.html.twig' %}

{% block body %}

<section class="stage">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="ml-5 h2_stage">Liste des stages</h2>
        <a href="{{ path('stage_ajouter')}}" class="btn mt-5 mb-5 mr-5 add_icon d-flex align-items-center">Ajouter</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr class="background_stage">
                <th scope="col" class="pl-5 text-left">Numéro de stage</th>
                <th scope="col" class="text-left">Date de début</th>
                <th scope="col" class="text-left">Date de fin</th>
                <th scope="col" class="text-left">Lieu de stage</th>
                <th scope="col" class="text-left">Animateurs</th>
                <th scope="col" class="text-center pr-5"><i class="fas fa-cogs"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for stage in stages %}
            <tr>
                <td class="pl-5 text-left">{{ stage.numeroStage }}</td>
                <td class="text-left">
                    {{ stage.dated|localizeddate('long', 'none', 'fr')}} 
                </td>
                <td class="text-left">
                    {{ stage.datef|localizeddate('long', 'none', 'fr')}} 
                </td>
                <td class="text-left">
                   
                    {{ stage.lieuStage.nomEtablissement }}
                
                </td>
                <td class="text-left">
                    {% for animateur in stage.animateurs %}
                    {{ animateur.nomAnimateur }}
                    {% endfor %}
                </td>
                <td class="text-center">
                    <a href="{{  path('stage_afficher', {'id': stage.id}) }}"><i class="ml-3 far fa-eye eye_color"></i></a>
                    <a href="{{  path('stage_modifier', {'id': stage.id}) }}"><i class="ml-3 fas fa-pen pen_color"></i></a>
                    <a href="{{  path('stage_supprimer', {'id': stage.id}) }}"><i class="ml-3 far fa-trash-alt trash_color pr-5 "></i></a>
                </td>
            </tr>
            {% else %}
            <td class="pl-5 text-left">Il n'y a aucun stage</td>
            <td class="text-center">...</td>
            <td class="text-center">...</td>
            <td class="text-center">...</td>
            <td class="text-center">...</td>
            {% endfor %}
        </tbody>
    </table>

</section>
{% endblock %}