{{ form_start(form) }}

    {{ form_row(form.nomStagiaire, {'label':"Nom du stagiaire", 'attr': {'placeholder': "Nom du stagiaire"}}) }}
    {{ form_row(form.prenomStagiaire) }}
    {{ form_row(form.cpStagiaire)}}
    {{ form_row(form.communeStagiaire)}}
    {{ form_row(form.nomNaissanceStagiaire)}}
    {{ form_row(form.dateNaissanceStagiaire)}}
    {{ form_row(form.lieuNaissanceStagiaire)}}
    {{ form_row(form.adresseStagiaire)}}
    {{ form_row(form.nationaliteStagiaire)}}
    {{ form_row(form.numeroPortableStagiaire)}}
    {{ form_row(form.numeroFixeStagiaire)}}
    {{ form_row(form.emailStagiaire)}}
    {{ form_row(form.carteJeuneStagiaire)}}
    {{ form_row(form.partenaireStagiaire)}}
    {{ form_row(form.adherentStagiaire)}}
    {{ form_row(form.numeroAdresseStagiaire)}}
    {{ form_row(form.civilite) }}
    
    <button type="submit" class="btn btn-primary">Ajouter le stagiaire</button>

{{ form_end(form) }}

