{{ form_start(form) }}
{{ form_row(form.nom_tribunal, {'label':"Nom du tribunal", 'attr': {'placeholder': "Nom du tribunal"}}) }}
{{ form_row(form.adresse_tribunal, {'label':"Adresse", 'attr': {'placeholder': "adresse du tribunal"}}) }}
{{ form_row(form.numero_adresse_tribunal, {'label':"Numéro de rue", 'attr': {'placeholder': "Numéro de rue"}}) }}
{{ form_row(form.commune_tribunal, {'label':"Commune", 'attr': {'placeholder': "Commune du tribunal"}}) }}
{{ form_row(form.tribunal_service, {'label':"Service", 'attr': {'placeholder': "Service du tribunal"}}) }}
{{ form_row(form.tribunal_autorite, {'label':"Autorité", 'attr': {'placeholder': "Autorité du tribunal"}}) }}
            

<button class="btn btn-success" type="submit">Ajouter un tribunal</button>
{{ form_end(form) }}