{% extends 'base.html.twig' %}

{% block body %}

<section class="stage">

    <div class=" mb-3 d-flex justify-content-between align-items-end">
        <h2 class="ml-5 h2_stage mt-5">Liste de tous les stages - Total de {{ stages.getTotalItemCount }}</h2>
        <a href="{{ path('stage_ajouter')}}" class="btn mr-5 add_icon d-flex align-items-center">Ajouter</a>
    </div>
    <ul class="nav nav-pills pl-0 d-flex justify-content-between align-items-center">
        <div>
            <li class="active btn btn-stage-futur"><a class="onglet" href="{{ path('stage_index')}}">Stages à venir</a>
            </li>
            <li class="btn btn-stage-tous"><a class="onglet" href="{{ path('stage_tous')}}">Tous les stages</a></li>
        </div>
        <div class="text-right">
            <a data-toggle="tooltip" data-placement="top" title="Imprimer cette page" target="_blank"
                href="{{ path('stage_tous_imprimer')}}" <i class="mr-5 fas fa-print print_icon"></i></a>
        </div>
    </ul>
    <table class="table table-striped">
        <thead>
            <tr class="background_stage">
           
                <th scope="col" class="pl-5 text-left">{{ knp_pagination_sortable(stages, 'Numéro de stage', 's.numeroStage') }}</th>
                <th scope="col" class="text-left">{{ knp_pagination_sortable(stages, 'Dates du stage', 's.dated') }}</th>
                <th scope="col" class="text-left">Lieu de stage</th>
                <th scope="col" class="text-left" data-toggle="tooltip" data-placement="top"
                    title="(P) = (Psychologue), (T) = (Technicien de la route)">Animateurs *</th>
                <th scope="col" class="text-left">Stagiaires</th>
                <th scope="col" class="text-center pr-5"><i class="fas fa-cogs"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for stage in stages %}
            <tr>
                <td class="pl-5 text-left">{{ stage.numeroStage }}</td>
                <td class="table-margin">
                    Du {{ stage.dated|localizeddate('full', 'none', 'fr')}} </br>au
                    {{ stage.datef|localizeddate('full', 'none', 'fr')}}

                </td>
                <td class="text-left">

                    {{ stage.lieuStage.nomEtablissement }}</br>
                    {{ stage.lieuStage.numeroAdresseStage }}, {{ stage.lieuStage.AdresseStage }}
                    {{ stage.lieuStage.nomCommune }}
                </td>
                <td class="text-left">
                    {% for animateur in stage.animateurs %}
                    <p class="table-margin">{{ animateur.prenomAnimateur }} {{ animateur.nomAnimateur }}
                        {% if animateur.animateurfonction.nom == 'Psychologue' %}
                        (P)
                        {% else %}
                        (T)
                        {% endif %}</p>
                    {% endfor %}
                </td>
                <td class="text-left">
                    {{ stage.stagiaires|length }}
                </td>
                <td class="text-center pr-5">
                    <a data-toggle="tooltip" data-placement="top" title="Voir le stage"
                        href="{{  path('stage_afficher', {'id': stage.id}) }}"><i class="far fa-eye eye_color"></i></a>
                    {# <a data-toggle="tooltip" data-placement="top" title="Modifier le stage"
                        href="{{  path('stage_modifier', {'id': stage.id}) }}"><i
                            class="fas fa-pen pen_color pl-2 pr-2"></i></a>
                    <a data-toggle="modal" data-placement="top" data-target="#stageDelete{{ stage.id }}"
                        title="Supprimer le stage" href="#"><i class="far fa-trash-alt trash_color"></i></a>

                </td> #}
            </tr>

            <!-- Modal -->
            {# <div class="modal fade" id="stageDelete{{ stage.id }}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Attention !</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Vous êtes sur le point de supprimer un stage
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <a href="{{  path('stage_supprimer', {'id': stage.id}) }}"
                                class="btn btn-danger">Confirmer</a>
                        </div> #}
                    </div>
                </div>
            </div>
            {% else %}
            <td class="pl-5 text-left">Il n'y a aucun stage</td>
            <td class="text-center">...</td>
            <td class="text-center">...</td>
            <td class="text-center">...</td>
            <td class="text-center">...</td>
            {% endfor %}
        </tbody>
    </table>
<div>
<div class="d-flex justify-content-center pagination">
 {{ knp_pagination_render(stages) }}</div>
 </div>
</section>

{% endblock %}