{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

    <div>
        {% if editMode %}
        <h2 class="mt-5 mb-5 h2_stage">Modifier un permis</h2>
        {% else %}
        <h2 class="mt-5 mb-5 h2_stage">Ajouter un permis</h2>
        {% endif %}
    </div>

    {{ form_start(formLicence) }}

    <div class="row">
        <div class="col">
            {{ form_row(formLicence.licenceNumber, {'label': "Nom de l'établissement :", 'attr': {'placeholder':
            "Nom de l'établissement"}}) }}
        </div>
        <div class="col">
            {{ form_row(formLicence.licenceDate, {'label': "N° d'agrément :", 'attr': {'placeholder': "N°
            d'agrément"}})}}
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            {{ form_row(formLicence.stagiaire, {'label': "N° de rue :", 'attr': {'placeholder': "N° de
            rue"}}) }}
        </div>
        <div class="col-10">
            {{ form_row(formLicence.prefecture, {'label': "Adresse :", 'attr': {'placeholder': "Adresse"}}) }}
        </div>
    </div>

   
   
   

    {% if editMode %}
    <button type="submit" class="btn btn-warning btn-link text-black mb-5 mt-3">
        Enregistrer
    </button>
    {% else %}
    <button type="submit" class="btn btn-success btn-link text-white mb-5 mt-3">
        Enregistrer
    </button>
    {% endif %}


    {{ form_end(formLicence) }}
</div>

{% endblock %}

{% block selectjs %}
    <script src="{{ asset('build/select.js') }}"></script>
 {% endblock %}
